{% load static %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Minitweet {% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'feed/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'feed/css/blog-home.css' %}" rel="stylesheet">
    {% block head %} {% endblock head %}
  </head>
  
  <body>
  
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">MiniTweet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item nav1">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item nav2">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item nav3">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item nav4">
              <a class="nav-link" href="/profile/{{ user.username }}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>          
		   </ul>
        </div>
      </div>
    </nav>
  
  {% block content %}
  
  
  {% endblock content %}
  
  
  </body>
  
  
  
      <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; MiniTweet 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'feed/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'feed/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</html>